Repository ShunsukeKikuchi/transformers-skikuchi, changes with the owners that CODEOWNERS names for each.
All owners: @Rocketknight1, @stevhliu, @McPatate, @molbap, @yonigozlan, @qubvel, @ArthurZucker, @gante, @muellerzr, @SunMarc, @MekkCyber, @ydshieh, @michaelbenayoun

some more fixes, hf links + typo
  docs/source/en/model_doc/gpt2.md
  docs/source/en/model_doc/granite_speech.md
  docs/source/en/model_doc/mixtral.md
  docs/source/en/model_doc/qwen2_vl.md
  docs/source/en/model_doc/seamless_m4t.md
  docs/source/en/model_doc/seamless_m4t_v2.md
  docs/source/en/model_doc/t5gemma.md
  utils/add_dates.ipynb
Owners: @stevhliu, @Rocketknight1

Implement drop path
  src/transformers/models/beit3/configuration_beit3.py
  src/transformers/models/beit3/modeling_beit3.py
Owners: @Rocketknight1

Add pretrained base model (tbd if useful)
  src/transformers/models/beit3/convert_beit3_unilm_to_pytorch.py
Owners: @Rocketknight1

Fix bug that tokenizer options are passed to image processor
  src/transformers/models/beit3/processing_beit3.py
Owners: @molbap, @yonigozlan, @qubvel

Improve typing and formatting
  src/transformers/models/beit3/modeling_beit3.py
Owners: @Rocketknight1

Fix inconsistency in SeamlessM4T and SeamlessM4Tv2 docs
  src/transformers/models/seamless_m4t/modeling_seamless_m4t.py
  src/transformers/models/seamless_m4t_v2/modeling_seamless_m4t_v2.py
Owners: @Rocketknight1

Update HuBERT model card according to template
  docs/source/en/model_doc/hubert.md
Owners: @stevhliu

fix: qwen 25vl rope if item is masked
  src/transformers/models/glm4v/modeling_glm4v.py
  src/transformers/models/glm4v/modular_glm4v.py
  src/transformers/models/qwen2_5_omni/modeling_qwen2_5_omni.py
  src/transformers/models/qwen2_5_omni/modular_qwen2_5_omni.py
  src/transformers/models/qwen2_5_vl/modeling_qwen2_5_vl.py
  src/transformers/models/qwen2_5_vl/modular_qwen2_5_vl.py
Owners: @Rocketknight1

continue simplifying a lot
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Update cache_utils.py
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Update cache_utils.py
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Update cache_utils.py
  src/transformers/cache_utils.py
Owners: @Rocketknight1

style
  src/transformers/cache_utils.py
Owners: @Rocketknight1

continue work
  src/transformers/cache_utils.py
Owners: @Rocketknight1

style
  src/transformers/cache_utils.py
Owners: @Rocketknight1

offloading much simpler
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Simplify the logic quite a bit
  src/transformers/cache_utils.py
Owners: @Rocketknight1

update inits
  src/transformers/__init__.py
  src/transformers/cache_utils.py
  tests/utils/test_cache_utils.py
Owners: @Rocketknight1

fix
  src/transformers/cache_utils.py
Owners: @Rocketknight1

fix configs
  src/transformers/models/bart/configuration_bart.py
  src/transformers/models/bigbird_pegasus/configuration_bigbird_pegasus.py
  src/transformers/models/blenderbot/configuration_blenderbot.py
  src/transformers/models/blenderbot_small/configuration_blenderbot_small.py
  src/transformers/models/fsmt/configuration_fsmt.py
  src/transformers/models/led/configuration_led.py
  src/transformers/models/m2m_100/configuration_m2m_100.py
  src/transformers/models/marian/configuration_marian.py
  src/transformers/models/mbart/configuration_mbart.py
  src/transformers/models/mvp/configuration_mvp.py
  src/transformers/models/pegasus/configuration_pegasus.py
  src/transformers/models/pegasus_x/configuration_pegasus_x.py
  src/transformers/models/plbart/configuration_plbart.py
  tests/models/falcon_h1/test_modeling_falcon_h1.py
Owners: @Rocketknight1

fix
  src/transformers/cache_utils.py
  src/transformers/models/lfm2/modeling_lfm2.py
  src/transformers/models/lfm2/modular_lfm2.py
Owners: @Rocketknight1

cache tests
  src/transformers/cache_utils.py
  tests/utils/test_cache_utils.py
Owners: @Rocketknight1

update
  src/transformers/models/dia/generation_dia.py
  src/transformers/models/kyutai_speech_to_text/modeling_kyutai_speech_to_text.py
  src/transformers/models/kyutai_speech_to_text/modular_kyutai_speech_to_text.py
  src/transformers/models/musicgen/modeling_musicgen.py
  src/transformers/models/musicgen_melody/modeling_musicgen_melody.py
  src/transformers/models/rag/modeling_rag.py
Owners: @Rocketknight1

alright
  tests/models/bigbird_pegasus/test_modeling_bigbird_pegasus.py
  tests/models/blenderbot_small/test_modeling_blenderbot_small.py
  tests/models/marian/test_modeling_marian.py
  tests/models/mbart/test_modeling_mbart.py
  tests/models/pegasus/test_modeling_pegasus.py
Owners: @Rocketknight1

Update cache_utils.py
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Update test_cache_utils.py
  tests/utils/test_cache_utils.py
Owners: @Rocketknight1

fix
  src/transformers/cache_utils.py
Owners: @Rocketknight1

revert
  src/transformers/models/bart/configuration_bart.py
  src/transformers/models/bigbird_pegasus/configuration_bigbird_pegasus.py
  src/transformers/models/blenderbot/configuration_blenderbot.py
  src/transformers/models/blenderbot_small/configuration_blenderbot_small.py
  src/transformers/models/fsmt/configuration_fsmt.py
  src/transformers/models/led/configuration_led.py
  src/transformers/models/m2m_100/configuration_m2m_100.py
  src/transformers/models/marian/configuration_marian.py
  src/transformers/models/mbart/configuration_mbart.py
  src/transformers/models/mvp/configuration_mvp.py
  src/transformers/models/pegasus/configuration_pegasus.py
  src/transformers/models/pegasus_x/configuration_pegasus_x.py
  src/transformers/models/plbart/configuration_plbart.py
Owners: @Rocketknight1

Update cache_utils.py
  src/transformers/cache_utils.py
Owners: @Rocketknight1

fix
  src/transformers/cache_utils.py
Owners: @Rocketknight1

consistemncy
  docs/source/en/internal/generation_utils.md
  docs/source/ko/internal/generation_utils.md
  src/transformers/cache_utils.py
Owners: @stevhliu, @Rocketknight1

fix tests
  tests/models/bigbird_pegasus/test_modeling_bigbird_pegasus.py
  tests/models/blenderbot_small/test_modeling_blenderbot_small.py
  tests/models/marian/test_modeling_marian.py
  tests/models/mbart/test_modeling_mbart.py
  tests/models/pegasus/test_modeling_pegasus.py
Owners: @Rocketknight1

fix mamba caches
  src/transformers/models/bamba/modeling_bamba.py
  src/transformers/models/bamba/modular_bamba.py
  src/transformers/models/falcon_h1/modeling_falcon_h1.py
  src/transformers/models/granitemoehybrid/modeling_granitemoehybrid.py
  src/transformers/models/jamba/modeling_jamba.py
  src/transformers/models/lfm2/modeling_lfm2.py
  src/transformers/models/lfm2/modular_lfm2.py
  src/transformers/models/zamba/modeling_zamba.py
  src/transformers/models/zamba2/modeling_zamba2.py
Owners: @Rocketknight1

fix the constructors
  docs/source/en/kv_cache.md
  docs/source/en/llm_optims.md
  docs/source/en/model_doc/gemma2.md
  docs/source/ko/llm_optims.md
  src/transformers/cache_utils.py
  tests/generation/test_utils.py
  tests/models/diffllama/test_modeling_diffllama.py
  tests/models/phi3/test_modeling_phi3.py
  tests/models/phimoe/test_modeling_phimoe.py
  tests/quantization/aqlm_integration/test_aqlm.py
  tests/quantization/spqr_integration/test_spqr.py
  tests/utils/test_cache_utils.py
Owners: @stevhliu, @Rocketknight1

fix
  src/transformers/cache_utils.py
Owners: @Rocketknight1

style
  src/transformers/generation/utils.py
Owners: @Rocketknight1

fix
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Update modeling_gptj.py
  src/transformers/models/gptj/modeling_gptj.py
Owners: @Rocketknight1

fix tests
  src/transformers/cache_utils.py
  src/transformers/generation/utils.py
  src/transformers/models/lfm2/modeling_lfm2.py
  src/transformers/models/lfm2/modular_lfm2.py
  tests/models/bamba/test_modeling_bamba.py
  tests/models/falcon_h1/test_modeling_falcon_h1.py
  tests/models/jamba/test_modeling_jamba.py
  tests/models/zamba/test_modeling_zamba.py
  tests/models/zamba2/test_modeling_zamba2.py
Owners: @Rocketknight1

add early_initialization
  src/transformers/cache_utils.py
  src/transformers/integrations/executorch.py
  tests/models/llama/test_modeling_llama.py
Owners: @Rocketknight1, @SunMarc, @MekkCyber, @muellerzr

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Rocketknight1 # if no one is pinged based on the other rules, he will do the dispatch
**.md @stevhliu
docs/ @stevhliu
/benchmark/ @McPatate
/src/transformers/models/*/*processing* @molbap @yonigozlan @qubvel
/src/transformers/models/*/image_processing* @qubvel
/src/transformers/models/*/image_processing_*_fast* @yonigozlan
# /src/transformers/models/*/*_modeling* depending on the type of the model, @qubvel @NielsRogge @Cyrilvallez @zucchini-nlp @molbap 
/src/transformers/models/*/*_modeling* @Rocketknight1 # for appropriate dispatch !a
/src/transformers/**/*_tokenization* @ArthurZucker
/src/tranformers/generation/ @gante
trainer.py @muellerzr
/src/transformers/pipeline @Rocketknight1 @yonigozlan
/src/transformers/integrations @SunMarc @MekkCyber @muellerzr
/src/transformers/quantizers @SunMarc @MekkCyber
/src/transforemrs/tests @ydshieh
/src/transformers/models/auto @ArthurZucker
/src/transformers/utils @ArthurZucker @Rocketknight1
/dockers @ydshieh @ArthurZucker
/src/transformers/loss @ArthurZucker
/src/transformers/onnx @michaelbenayoun
/.circleci/config.yml @ArthurZucker @ydshieh
/utils/tests_fetcher.py @ydshieh
