Repository ShunsukeKikuchi/transformers-skikuchi, changes with the owners that CODEOWNERS names for each.
All owners: @Rocketknight1, @stevhliu, @McPatate, @molbap, @yonigozlan, @qubvel, @ArthurZucker, @gante, @muellerzr, @SunMarc, @MekkCyber, @ydshieh, @michaelbenayoun

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Rocketknight1 # if no one is pinged based on the other rules, he will do the dispatch
**.md @stevhliu
docs/ @stevhliu
/benchmark/ @McPatate
/src/transformers/models/*/*processing* @molbap @yonigozlan @qubvel
/src/transformers/models/*/image_processing* @qubvel
/src/transformers/models/*/image_processing_*_fast* @yonigozlan
# /src/transformers/models/*/*_modeling* depending on the type of the model, @qubvel @NielsRogge @Cyrilvallez @zucchini-nlp @molbap 
/src/transformers/models/*/*_modeling* @Rocketknight1 # for appropriate dispatch !a
/src/transformers/**/*_tokenization* @ArthurZucker
/src/tranformers/generation/ @gante
trainer.py @muellerzr
/src/transformers/pipeline @Rocketknight1 @yonigozlan
/src/transformers/integrations @SunMarc @MekkCyber @muellerzr
/src/transformers/quantizers @SunMarc @MekkCyber
/src/transforemrs/tests @ydshieh
/src/transformers/models/auto @ArthurZucker
/src/transformers/utils @ArthurZucker @Rocketknight1
/dockers @ydshieh @ArthurZucker
/src/transformers/loss @ArthurZucker
/src/transformers/onnx @michaelbenayoun
/.circleci/config.yml @ArthurZucker @ydshieh
/utils/tests_fetcher.py @ydshieh

update generate
  src/transformers/cache_utils.py
  src/transformers/generation/utils.py
Owners: @Rocketknight1

fix
  tests/utils/test_cache_utils.py
Owners: @Rocketknight1

Initial support for bnb 4bit on any nn.Parameter
  src/transformers/quantizers/quantizer_bnb_4bit.py
  src/transformers/utils/quantization_config.py
Owners: @SunMarc, @MekkCyber, @ArthurZucker, @Rocketknight1

Fix style
  src/transformers/quantizers/quantizer_bnb_4bit.py
Owners: @SunMarc, @MekkCyber

Fix copies
  src/transformers/quantizers/quantizer_bnb_4bit.py
Owners: @SunMarc, @MekkCyber

docs: ko: gemma3.md
  docs/source/ko/_toctree.yml
Owners: @stevhliu

feat: nmt draft
  docs/source/ko/model_doc/gemma3.md
Owners: @stevhliu

fix: manual edits
  docs/source/ko/model_doc/gemma3.md
Owners: @stevhliu

fix: Catch correct ConnectionError for additional_chat_templates
  src/transformers/utils/hub.py
Owners: @ArthurZucker, @Rocketknight1

simplify
  src/transformers/cache_utils.py
  src/transformers/utils/__init__.py
  src/transformers/utils/import_utils.py
Owners: @Rocketknight1, @ArthurZucker

back to before -> avoid compile bug
  src/transformers/cache_utils.py
Owners: @Rocketknight1

doc
  src/transformers/cache_utils.py
Owners: @Rocketknight1

mistral test
  tests/models/mistral/test_modeling_mistral.py
Owners: @Rocketknight1

llama4 test dtype
  tests/models/llama4/test_modeling_llama4.py
Owners: @Rocketknight1

Update test_modeling_llama4.py
  tests/models/llama4/test_modeling_llama4.py
Owners: @Rocketknight1

Remove deprecated max_size parameter from ConditionalDetrImageProcessor
  src/transformers/models/conditional_detr/image_processing_conditional_detr.py
Owners: @qubvel

Finally find a nice impl
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Update cache_utils.py
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Update cache_utils.py
  src/transformers/cache_utils.py
Owners: @Rocketknight1

add lazy methods in autodoc
  docs/source/en/internal/generation_utils.md
Owners: @stevhliu

typo
  src/transformers/cache_utils.py
Owners: @Rocketknight1

better doc
  src/transformers/cache_utils.py
Owners: @Rocketknight1

Add detailed docstring for lazy init
  src/transformers/cache_utils.py
Owners: @Rocketknight1

bert and gpt2 copies
  src/transformers/models/bert/modeling_bert.py
  src/transformers/models/bert_generation/modeling_bert_generation.py
  src/transformers/models/bridgetower/modeling_bridgetower.py
  src/transformers/models/camembert/modeling_camembert.py
  src/transformers/models/data2vec/modeling_data2vec_text.py
  src/transformers/models/decision_transformer/modeling_decision_transformer.py
  src/transformers/models/electra/modeling_electra.py
  src/transformers/models/ernie/modeling_ernie.py
  src/transformers/models/gpt2/modeling_gpt2.py
  src/transformers/models/megatron_bert/modeling_megatron_bert.py
  src/transformers/models/rembert/modeling_rembert.py
  src/transformers/models/roberta/modeling_roberta.py
  src/transformers/models/roberta_prelayernorm/modeling_roberta_prelayernorm.py
  src/transformers/models/roc_bert/modeling_roc_bert.py
  src/transformers/models/tapas/modeling_tapas.py
  src/transformers/models/xlm_roberta/modeling_xlm_roberta.py
  src/transformers/models/xlm_roberta_xl/modeling_xlm_roberta_xl.py
  src/transformers/models/xmod/modeling_xmod.py
Owners: @Rocketknight1

fix imports
  src/transformers/models/bert_generation/modeling_bert_generation.py
  src/transformers/models/bridgetower/modeling_bridgetower.py
  src/transformers/models/camembert/modeling_camembert.py
  src/transformers/models/data2vec/modeling_data2vec_text.py
  src/transformers/models/decision_transformer/modeling_decision_transformer.py
  src/transformers/models/electra/modeling_electra.py
  src/transformers/models/ernie/modeling_ernie.py
  src/transformers/models/megatron_bert/modeling_megatron_bert.py
  src/transformers/models/roberta/modeling_roberta.py
  src/transformers/models/roberta_prelayernorm/modeling_roberta_prelayernorm.py
  src/transformers/models/roc_bert/modeling_roc_bert.py
  src/transformers/models/xlm_roberta/modeling_xlm_roberta.py
  src/transformers/models/xlm_roberta_xl/modeling_xlm_roberta_xl.py
  src/transformers/models/xmod/modeling_xmod.py
Owners: @Rocketknight1

fix: resolve suggestions
  docs/source/ko/model_doc/gemma3.md
Owners: @stevhliu

fix import
  src/transformers/models/deprecated/ernie_m/modeling_ernie_m.py
  src/transformers/models/deprecated/gptsan_japanese/modeling_gptsan_japanese.py
  src/transformers/models/deprecated/mega/modeling_mega.py
  src/transformers/models/deprecated/nezha/modeling_nezha.py
  src/transformers/models/deprecated/open_llama/modeling_open_llama.py
  src/transformers/models/deprecated/qdqbert/modeling_qdqbert.py
  src/transformers/models/deprecated/realm/modeling_realm.py
  src/transformers/models/deprecated/speech_to_text_2/modeling_speech_to_text_2.py
  src/transformers/models/deprecated/xlm_prophetnet/modeling_xlm_prophetnet.py
Owners: @Rocketknight1

finalize it
  examples/modular-transformers/modeling_add_function.py
  examples/modular-transformers/modeling_dummy_bert.py
  examples/modular-transformers/modeling_global_indexing.py
  examples/modular-transformers/modeling_multimodal2.py
  examples/modular-transformers/modeling_my_new_model2.py
  examples/modular-transformers/modeling_new_task_model.py
  examples/modular-transformers/modeling_roberta.py
  examples/modular-transformers/modeling_super.py
  examples/modular-transformers/modeling_switch_function.py
  examples/modular-transformers/modeling_test_detr.py
  examples/modular-transformers/modular_dummy_bert.py
  src/transformers/modeling_layers.py
Owners: @Rocketknight1

Fix DeepSpeed mixed precision precedence over Accelerate defaults
  src/transformers/integrations/deepspeed.py
  src/transformers/training_args.py
Owners: @SunMarc, @MekkCyber, @muellerzr, @Rocketknight1

feat: keypoint-matcher pipeline
  src/transformers/pipelines/__init__.py
  src/transformers/pipelines/keypoint_matching.py
  tests/pipelines/test_pipelines_keypoint_matching.py
  utils/update_metadata.py
Owners: @Rocketknight1

docs: added keypoint-matcher pipeline in docs
  docs/source/en/main_classes/pipelines.md
Owners: @stevhliu

fix: added missing statements for repo consistency
  src/transformers/__init__.py
  tests/pipelines/test_pipelines_keypoint_matching.py
Owners: @Rocketknight1

mask2former-depth
  src/transformers/models/mask2former/__init__.py
  src/transformers/models/mask2former/configuration_mask2former.py
  src/transformers/models/mask2former/convert_mask2former_original_pytorch_checkpoint_to_pytorch.py
  src/transformers/models/mask2former/image_processing_mask2former.py
  src/transformers/models/mask2former/image_processing_mask2former_fast.py
  src/transformers/models/mask2former/modeling_mask2former.py
  src/transformers/models/mask2former/modular_mask2former.py
Owners: @Rocketknight1, @qubvel, @yonigozlan

depth
  src/transformers/models/mask2former/image_processing_mask2former.py
  src/transformers/models/mask2former/modeling_mask2former.py
Owners: @qubvel, @Rocketknight1

__init__
  src/transformers/__init__.py
Owners: @Rocketknight1

backbone-depth and DPTHead
  setup.py
  src/transformers/models/mask2former/modeling_mask2former.py
Owners: @Rocketknight1

2025-8-15
  transformers-skikuchi
Owners: @Rocketknight1
