Repository ShunsukeKikuchi/transformers-skikuchi, changes with the owners that CODEOWNERS names for each.
All owners: @Rocketknight1, @stevhliu, @McPatate, @molbap, @yonigozlan, @qubvel, @ArthurZucker, @gante, @muellerzr, @SunMarc, @MekkCyber, @ydshieh, @michaelbenayoun

add keye
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
Owners: @ArthurZucker

doc string3
  src/transformers/models/auto/modeling_auto.py
Owners: @ArthurZucker

fix processor
  src/transformers/models/keye/modular_keye.py
Owners: @Rocketknight1

update2
  docs/source/en/model_doc/keye.md
Owners: @stevhliu

fix processor2
  docs/source/en/model_doc/keye.md
Owners: @stevhliu

add keye doc
  docs/source/en/model_doc/keye.md
Owners: @stevhliu

fix modeling_auto
  src/transformers/models/auto/modeling_auto.py
Owners: @ArthurZucker

doc string
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/keye/configuration_keye.py
  src/transformers/models/keye/modular_keye.py
Owners: @ArthurZucker, @Rocketknight1

update4
  src/transformers/models/auto/modeling_auto.py
Owners: @ArthurZucker

add keye test
  tests/models/keye/test_modeling_keye.py
Owners: @Rocketknight1

add keye doc
  docs/source/en/model_doc/keye.md
Owners: @stevhliu

update3
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/keye/modeling_keye.py
  src/transformers/models/keye/modular_keye.py
  utils/modular_model_converter copy.py
Owners: @ArthurZucker, @Rocketknight1

add keye test2
  tests/models/keye/test_modeling_keye.py
Owners: @Rocketknight1

add keye test4
  tests/models/keye/test_modeling_keye.py
Owners: @Rocketknight1

fix check repo3
  utils/check_repo.py
Owners: @Rocketknight1

update
  tools/python
Owners: @Rocketknight1

add __init__
  src/transformers/models/keye/__init__.py
Owners: @Rocketknight1

update test
  tests/models/keye/__init__.py
Owners: @Rocketknight1

fix check repo2
  src/transformers/models/keye/configuration_keye.py
  src/transformers/models/keye/modeling_keye.py
  src/transformers/models/keye/modular_keye.py
Owners: @Rocketknight1

update test2
  tests/models/keye/test_modeling_keye.py
Owners: @Rocketknight1

remove unused
  src/transformers/models/keye/configuration_keye.py
  src/transformers/models/keye/image_processing_keye.py
  src/transformers/models/keye/modular_keye.py
Owners: @Rocketknight1, @qubvel

fix check reop
  utils/check_repo.py
Owners: @Rocketknight1

add keye test3
  tests/models/keye/test_modeling_keye.py
Owners: @Rocketknight1

rm tools
  tools/python
Owners: @Rocketknight1

add keye test5
  tests/models/keye/test_modeling_keye.py
Owners: @Rocketknight1

update style
  src/transformers/models/keye/modular_keye.py
Owners: @Rocketknight1

doc string3
  src/transformers/models/keye/configuration_keye.py
  src/transformers/models/keye/modular_keye.py
Owners: @Rocketknight1

doc string2
  src/transformers/models/keye/configuration_keye.py
Owners: @Rocketknight1

doc string
  src/transformers/models/keye/configuration_keye.py
  src/transformers/models/keye/modular_keye.py
Owners: @Rocketknight1

Update ruff to 0.12.3 and some fixes
  .github/scripts/assign_reviewers.py
  benchmark/benchmark.py
  benchmark/benchmarks_entrypoint.py
  benchmark/llama.py
  benchmark/optimum_benchmark_wrapper.py
  examples/pytorch/text-generation/run_generation.py
  scripts/check_tokenizers.py
  scripts/stale.py
  setup.py
  src/transformers/dependency_versions_table.py
Owners: @Rocketknight1, @McPatate

Fix whole word masking and add padding strategy to mlm
  src/transformers/data/data_collator.py
  src/transformers/tokenization_utils_base.py
  tests/trainer/test_data_collator.py
Owners: @Rocketknight1

Code doc and styling updates
  src/transformers/data/data_collator.py
  src/transformers/tokenization_utils_base.py
  tests/trainer/test_data_collator.py
Owners: @Rocketknight1

Updated data2vec according to the model
  docs/source/en/model_doc/data2vec.md
Owners: @stevhliu

added the dates for models with multiple papers
  docs/source/en/model_doc/audio-spectrogram-transformer.md
  docs/source/en/model_doc/beit.md
  docs/source/en/model_doc/bit.md
  docs/source/en/model_doc/blenderbot.md
  docs/source/en/model_doc/blip-2.md
  docs/source/en/model_doc/deit.md
  docs/source/en/model_doc/depth_anything_v2.md
  docs/source/en/model_doc/encoder-decoder.md
  docs/source/en/model_doc/ernie.md
  docs/source/en/model_doc/granite_speech.md
  docs/source/en/model_doc/grounding-dino.md
  docs/source/en/model_doc/janus.md
  docs/source/en/model_doc/jukebox.md
  docs/source/en/model_doc/layoutlmv2.md
  docs/source/en/model_doc/layoutxlm.md
  docs/source/en/model_doc/llava.md
  docs/source/en/model_doc/mluke.md
  docs/source/en/model_doc/mobilenet_v2.md
  docs/source/en/model_doc/mobilevit.md
  docs/source/en/model_doc/mobilevitv2.md
  docs/source/en/model_doc/mvp.md
  docs/source/en/model_doc/nemotron.md
  docs/source/en/model_doc/paligemma.md
  docs/source/en/model_doc/perceiver.md
  docs/source/en/model_doc/pop2piano.md
  docs/source/en/model_doc/pvt_v2.md
  docs/source/en/model_doc/reformer.md
  docs/source/en/model_doc/regnet.md
  docs/source/en/model_doc/roberta-prelayernorm.md
  docs/source/en/model_doc/sam.md
  docs/source/en/model_doc/seamless_m4t_v2.md
  docs/source/en/model_doc/tvlt.md
  docs/source/en/model_doc/vitpose.md
  docs/source/en/model_doc/wav2vec2-conformer.md
  utils/add_dates.ipynb
Owners: @stevhliu, @Rocketknight1

half of no_papers models done
  docs/source/en/model_doc/aimv2.md
  docs/source/en/model_doc/arcee.md
  docs/source/en/model_doc/bamba.md
  docs/source/en/model_doc/bark.md
  docs/source/en/model_doc/bert-japanese.md
  docs/source/en/model_doc/bloom.md
  docs/source/en/model_doc/cpmant.md
  docs/source/en/model_doc/csm.md
  docs/source/en/model_doc/cvt.md
  docs/source/en/model_doc/dbrx.md
  docs/source/en/model_doc/deepseek_v2.md
  docs/source/en/model_doc/dia.md
  docs/source/en/model_doc/doge.md
  docs/source/en/model_doc/donut.md
  docs/source/en/model_doc/dots1.md
  docs/source/en/model_doc/eomt.md
  docs/source/en/model_doc/esm.md
  docs/source/en/model_doc/falcon3.md
  docs/source/en/model_doc/falcon_h1.md
  docs/source/en/model_doc/flan-ul2.md
  docs/source/en/model_doc/fuyu.md
  docs/source/en/model_doc/gemma3.md
  docs/source/en/model_doc/gemma3n.md
  docs/source/en/model_doc/glm4.md
  docs/source/en/model_doc/gpt-sw3.md
  docs/source/en/model_doc/gpt2.md
  docs/source/en/model_doc/gpt_neo.md
  docs/source/en/model_doc/gpt_neox.md
  docs/source/en/model_doc/gpt_neox_japanese.md
  docs/source/en/model_doc/gptj.md
  docs/source/en/model_doc/gptsan-japanese.md
  docs/source/en/model_doc/granitemoehybrid.md
  docs/source/en/model_doc/granitevision.md
  docs/source/en/model_doc/helium.md
  docs/source/en/model_doc/herbert.md
  docs/source/en/model_doc/imagegpt.md
  docs/source/en/model_doc/kyutai_speech_to_text.md
  docs/source/en/model_doc/lfm2.md
  docs/source/en/model_doc/lightglue.md
  utils/add_dates.ipynb
Owners: @stevhliu, @Rocketknight1

Squashed Beit3 initial commit from feature branch raghavanone:fix_issue_22178
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/beit3.md
  docs/source/ms/index.md
  src/transformers/models/__init__.py
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/beit3/__init__.py
  src/transformers/models/beit3/configuration_beit3.py
  src/transformers/models/beit3/convert_beit3_unilm_to_pytorch.py
  src/transformers/models/beit3/modeling_beit3.py
  src/transformers/models/beit3/processing_beit3.py
  tests/models/beit3/__init__.py
  tests/models/beit3/test_modeling_beit3.py
  tests/models/beit3/test_processor_beit3.py
  utils/check_copies.py
  utils/check_repo.py
Owners: @stevhliu, @Rocketknight1, @ArthurZucker, @molbap, @yonigozlan, @qubvel

Apply some of the new changes
  src/transformers/models/beit3/__init__.py
  src/transformers/models/beit3/configuration_beit3.py
  src/transformers/models/beit3/convert_beit3_unilm_to_pytorch.py
  src/transformers/models/beit3/modeling_beit3.py
  src/transformers/models/beit3/processing_beit3.py
Owners: @Rocketknight1, @molbap, @yonigozlan, @qubvel

Support Fast Processor
  src/transformers/models/auto/image_processing_auto.py
  src/transformers/models/beit3/configuration_beit3.py
  src/transformers/models/beit3/convert_beit3_unilm_to_pytorch.py
  src/transformers/models/beit3/processing_beit3.py
Owners: @ArthurZucker, @Rocketknight1, @molbap, @yonigozlan, @qubvel

rest of no_papers models also done, only the exceptions left
  docs/source/en/model_doc/llama3.md
  docs/source/en/model_doc/llama4.md
  docs/source/en/model_doc/llava_next.md
  docs/source/en/model_doc/madlad-400.md
  docs/source/en/model_doc/mimi.md
  docs/source/en/model_doc/mistral3.md
  docs/source/en/model_doc/mixtral.md
  docs/source/en/model_doc/mlcd.md
  docs/source/en/model_doc/mllama.md
  docs/source/en/model_doc/moshi.md
  docs/source/en/model_doc/mpt.md
  docs/source/en/model_doc/open-llama.md
  docs/source/en/model_doc/openai-gpt.md
  docs/source/en/model_doc/perception_lm.md
  docs/source/en/model_doc/persimmon.md
  docs/source/en/model_doc/phobert.md
  docs/source/en/model_doc/pixtral.md
  docs/source/en/model_doc/qwen2_5_omni.md
  docs/source/en/model_doc/qwen3.md
  docs/source/en/model_doc/qwen3_moe.md
  docs/source/en/model_doc/recurrent_gemma.md
  docs/source/en/model_doc/retribert.md
  docs/source/en/model_doc/roc_bert.md
  docs/source/en/model_doc/rwkv.md
  docs/source/en/model_doc/smollm3.md
  docs/source/en/model_doc/smolvlm.md
  docs/source/en/model_doc/stablelm.md
  docs/source/en/model_doc/t5gemma.md
  docs/source/en/model_doc/tapas.md
  docs/source/en/model_doc/time_series_transformer.md
  docs/source/en/model_doc/timm_wrapper.md
  docs/source/en/model_doc/umt5.md
  docs/source/en/model_doc/vjepa2.md
  docs/source/en/model_doc/voxtral.md
  docs/source/en/model_doc/wav2vec2-bert.md
  docs/source/en/model_doc/xmod.md
  docs/source/en/model_doc/zamba.md
  docs/source/en/model_doc/zamba2.md
  utils/add_dates.ipynb
Owners: @stevhliu, @Rocketknight1

added copyright disclaimer to sam_hw, cohere, cohere2 + dates
  docs/source/en/model_doc/cohere.md
  docs/source/en/model_doc/cohere2.md
  docs/source/en/model_doc/sam_hq.md
Owners: @stevhliu

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Rocketknight1 # if no one is pinged based on the other rules, he will do the dispatch
**.md @stevhliu
docs/ @stevhliu
/benchmark/ @McPatate
/src/transformers/models/*/*processing* @molbap @yonigozlan @qubvel
/src/transformers/models/*/image_processing* @qubvel
/src/transformers/models/*/image_processing_*_fast* @yonigozlan
# /src/transformers/models/*/*_modeling* depending on the type of the model, @qubvel @NielsRogge @Cyrilvallez @zucchini-nlp @molbap 
/src/transformers/models/*/*_modeling* @Rocketknight1 # for appropriate dispatch !a
/src/transformers/**/*_tokenization* @ArthurZucker
/src/tranformers/generation/ @gante
trainer.py @muellerzr
/src/transformers/pipeline @Rocketknight1 @yonigozlan
/src/transformers/integrations @SunMarc @MekkCyber @muellerzr
/src/transformers/quantizers @SunMarc @MekkCyber
/src/transforemrs/tests @ydshieh
/src/transformers/models/auto @ArthurZucker
/src/transformers/utils @ArthurZucker @Rocketknight1
/dockers @ydshieh @ArthurZucker
/src/transformers/loss @ArthurZucker
/src/transformers/onnx @michaelbenayoun
/.circleci/config.yml @ArthurZucker @ydshieh
/utils/tests_fetcher.py @ydshieh
