Repository ShunsukeKikuchi/transformers-skikuchi, changes with the owners that CODEOWNERS names for each.
All owners: @Rocketknight1, @stevhliu, @McPatate, @molbap, @yonigozlan, @qubvel, @ArthurZucker, @gante, @muellerzr, @SunMarc, @MekkCyber, @ydshieh, @michaelbenayoun

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Rocketknight1 # if no one is pinged based on the other rules, he will do the dispatch
**.md @stevhliu
docs/ @stevhliu
/benchmark/ @McPatate
/src/transformers/models/*/*processing* @molbap @yonigozlan @qubvel
/src/transformers/models/*/image_processing* @qubvel
/src/transformers/models/*/image_processing_*_fast* @yonigozlan
# /src/transformers/models/*/*_modeling* depending on the type of the model, @qubvel @NielsRogge @Cyrilvallez @zucchini-nlp @molbap 
/src/transformers/models/*/*_modeling* @Rocketknight1 # for appropriate dispatch !a
/src/transformers/**/*_tokenization* @ArthurZucker
/src/tranformers/generation/ @gante
trainer.py @muellerzr
/src/transformers/pipeline @Rocketknight1 @yonigozlan
/src/transformers/integrations @SunMarc @MekkCyber @muellerzr
/src/transformers/quantizers @SunMarc @MekkCyber
/src/transforemrs/tests @ydshieh
/src/transformers/models/auto @ArthurZucker
/src/transformers/utils @ArthurZucker @Rocketknight1
/dockers @ydshieh @ArthurZucker
/src/transformers/loss @ArthurZucker
/src/transformers/onnx @michaelbenayoun
/.circleci/config.yml @ArthurZucker @ydshieh
/utils/tests_fetcher.py @ydshieh

Some changes to make copied from mechanism work
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Fix more code quality errors
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/dino_detr/test_image_processing_dino_detr.py
Owners: @Rocketknight1, @qubvel

Fill missing values config docstring
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Add dino detr to models/__init__.py file
  src/transformers/models/__init__.py
Owners: @Rocketknight1

Remove unused config parameters
  src/transformers/models/dino_detr/configuration_dino_detr.py
Owners: @Rocketknight1

Add docs template
  docs/source/en/model_doc/dino_detr.md
Owners: @stevhliu

DinoDetr docs first complete draft
  docs/source/en/model_doc/dino_detr.md
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @stevhliu, @Rocketknight1

DinoDetrDeformableTransformer is recognized as a model, attempt a fix
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @qubvel, @Rocketknight1

Clean docstrings
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Add missing model type to the constant
  src/transformers/models/auto/configuration_auto.py
Owners: @ArthurZucker

Attempt fix for DinoDetrDeformableTransformer getting classified as a model
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Remove config from loss function definition
  src/transformers/loss/loss_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @ArthurZucker, @Rocketknight1

Add docs to toctree.yml
  docs/source/en/_toctree.yml
Owners: @stevhliu

Fix some errors after rebase
  src/transformers/models/__init__.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Update deformable attention definition
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/dino_detr/test_image_processing_dino_detr.py
Owners: @Rocketknight1, @qubvel

Implement using modular
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  src/transformers/models/dino_detr/modular_dino_detr.py
Owners: @qubvel, @Rocketknight1

Apply conditions on some imports
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  src/transformers/models/dino_detr/modular_dino_detr.py
Owners: @qubvel, @Rocketknight1

Remove asserts from postprocessing method
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  src/transformers/models/dino_detr/modular_dino_detr.py
Owners: @qubvel, @Rocketknight1

Sort imports
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modular_dino_detr.py
Owners: @qubvel, @Rocketknight1

Fix edge case for tokenize (#36277)
  src/transformers/tokenization_utils_base.py
Owners: @Rocketknight1

Fix tokenizing dtype for float input cases
  src/transformers/tokenization_utils_base.py
Owners: @Rocketknight1

add test for empty input string
  src/transformers/__init__.py
  tests/test_tokenization_common.py
Owners: @Rocketknight1

deal empty list of list like [[]]
  src/transformers/tokenization_utils_base.py
Owners: @Rocketknight1

Add files via upload
  i18n/README_tr.md
Owners: @stevhliu

Update README.md
  README.md
Owners: @stevhliu

Add standardized model card for facebook/data2vec-audio-base-960h
  model_cards/facebook/data2vec-audio-base-960h/README.md
Owners: @stevhliu

Fixes to make check_copies pass on T5LA code
  src/transformers/models/t5la/modeling_t5la.py
  utils/check_config_attributes.py
  utils/check_repo.py
Owners: @Rocketknight1

Automated formatting
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/t5la/configuration_t5la.py
  src/transformers/models/t5la/convert_t5lax_checkpoint_to_flax.py
  src/transformers/models/t5la/modeling_t5la.py
  tests/models/t5la/test_modeling_t5la.py
Owners: @ArthurZucker, @Rocketknight1

Implement Extended LookAhead model LAE
  src/transformers/models/t5la/configuration_t5la.py
  src/transformers/models/t5la/modeling_t5la.py
Owners: @Rocketknight1

Fix a bug related to loading tokenizer for T5LA tests
  tests/models/t5la/test_modeling_t5la.py
Owners: @Rocketknight1

Implement first version of Lookahead model
  src/transformers/models/t5la/configuration_t5la.py
  src/transformers/models/t5la/modeling_t5la.py
Owners: @Rocketknight1

Fix documentation using command make fix-copies
  src/transformers/models/t5la/configuration_t5la.py
  src/transformers/models/t5la/modeling_t5la.py
Owners: @Rocketknight1

Fix a bug related to missing pipeline_model_mapping in T5LA tests
  tests/models/t5la/test_modeling_t5la.py
Owners: @Rocketknight1

Implement the other two lookahead models: LAA and LAA2
  src/transformers/models/t5la/modeling_t5la.py
Owners: @Rocketknight1

Add T5LA model by running cli add-new-model-like command
  docs/source/en/_toctree.yml
  docs/source/en/model_doc/t5la.md
  src/transformers/models/auto/configuration_auto.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/auto/tokenization_auto.py
  src/transformers/models/t5la/__init__.py
  src/transformers/models/t5la/configuration_t5la.py
  src/transformers/models/t5la/convert_t5la_original_tf_checkpoint_to_pytorch.py
  src/transformers/models/t5la/convert_t5lax_checkpoint_to_flax.py
  src/transformers/models/t5la/convert_t5lax_checkpoint_to_pytorch.py
  src/transformers/models/t5la/modeling_t5la.py
  tests/models/t5la/__init__.py
  tests/models/t5la/test_modeling_t5la.py
Owners: @stevhliu, @ArthurZucker, @Rocketknight1

Fixes made by check_copies to resolve failed job check_repository_consistency
  src/transformers/models/t5la/modeling_t5la.py
Owners: @Rocketknight1

Removed unnecessary files and added the data2vec file
  docs/source/en/model_doc/data2vec.md
Owners: @stevhliu

update
  src/transformers/models/keye/configuration_keye.py
  src/transformers/models/keye/image_processing_keye.py
  src/transformers/models/keye/modeling_keye.py
  src/transformers/models/keye/modular_keye.py
  src/transformers/models/keye/processing_keye.py
Owners: @Rocketknight1, @qubvel, @molbap, @yonigozlan

update3
  utils/modular_model_converter copy.py
Owners: @Rocketknight1

update processing_keye.py
  src/transformers/models/keye/processing_keye.py
Owners: @molbap, @yonigozlan, @qubvel
