Repository ShunsukeKikuchi/transformers-skikuchi, changes with the owners that CODEOWNERS names for each.
All owners: @Rocketknight1, @stevhliu, @McPatate, @molbap, @yonigozlan, @qubvel, @ArthurZucker, @gante, @muellerzr, @SunMarc, @MekkCyber, @ydshieh, @michaelbenayoun

First commit for DINO - DETR. Copy-paste files from Deformable DETR and original DINO repo. Substitute Deformable for DINO where needed.
  src/transformers/models/dino_detr/__init__.py
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  src/transformers/models/dino_detr/feature_extraction_dino_detr.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/image_processing_dino_detr_fast.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  src/transformers/models/dino_detr/modular_dino_detr.py
Owners: @Rocketknight1, @qubvel, @yonigozlan

Add dino detr loss
  src/transformers/loss/loss_dino_detr.py
  src/transformers/loss/loss_utils.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @ArthurZucker, @Rocketknight1

Add misc functions to dino modeling, make config first version
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Clean up dino_detr_config
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

First implementation of dino detr post processor
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @qubvel, @Rocketknight1

Match config to source code in modeling dino detr, defaults in config are still missing
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Restructure dino detr modeling code, major changes are now required only in the DINO class
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Fixed import errors, code can now be executed
  src/transformers/__init__.py
  src/transformers/loss/loss_dino_detr.py
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/feature_extraction_dino_detr.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1, @ArthurZucker, @qubvel

Forward pass for randomly initialized model now executes without errors
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @qubvel, @Rocketknight1

Ensure model outputs for single COCO image are within 1e-3 error of reference
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Add dino detr conversion to pytorch script
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
Owners: @Rocketknight1, @qubvel

Model now can be instantiated with random weights
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Forward pass works for DINO model with pretrained weights and matches original repo
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1, @qubvel

Add draft unit tests
  tests/models/dino_detr/test_image_processing_dino_detr.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

Apply make style
  src/transformers/loss/loss_dino_detr.py
  src/transformers/loss/loss_utils.py
  src/transformers/models/dino_detr/__init__.py
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/dino_detr/test_image_processing_dino_detr.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @ArthurZucker, @Rocketknight1, @qubvel

Modeling integration test passes
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  tests/models/dino_detr/__init__.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1, @qubvel

Add integration and unit tests
  src/transformers/loss/loss_dino_detr.py
  src/transformers/models/auto/modeling_auto.py
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/image_processing_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/deformable_detr/test_modeling_deformable_detr.py
  tests/models/dino_detr/test_modeling_dino_detr.py
  tests/test_modeling_common.py
Owners: @ArthurZucker, @Rocketknight1, @qubvel

Remove unnecessary dependency on pretrained model class from some classes
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Add some missing copied_from comments, these work with the huggingface compiler
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Pass test_hidden_states_output test
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

All tests pass for the first model draft
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

Pass test_retain_grad_hidden_states_attentions
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

Pass test_model_outputs_equivalence test
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Pass test_model_is_small test
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

Consistently start module names with DinoDetr
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

All image processing tests pass
  src/transformers/models/dino_detr/image_processing_dino_detr.py
Owners: @qubvel

Convert weights to hf using a single key mapping and regex
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

Dino detr doesn't support gradient checkpointing
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Pass test_attention_outputs
  src/transformers/models/dino_detr/modeling_dino_detr.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

Pass safetensor tests
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Move all asserts to the config
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Remove unused config parameters, simplify inits
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Clean DinoDetrModel code
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Clean up DinoDetrForObjectDetection class
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Fix copied from in image_processing_dino_detr
  src/transformers/models/dino_detr/image_processing_dino_detr.py
Owners: @qubvel

Remove some unused config parameters
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Clean up deformable transformer code
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Add type hints
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Clean up decoder code
  src/transformers/models/dino_detr/configuration_dino_detr.py
  src/transformers/models/dino_detr/modeling_dino_detr.py
Owners: @Rocketknight1

Add a model checkpoint to hub
  src/transformers/models/dino_detr/convert_dino_detr_to_pytorch.py
  tests/models/dino_detr/test_modeling_dino_detr.py
Owners: @Rocketknight1

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @Rocketknight1 # if no one is pinged based on the other rules, he will do the dispatch
**.md @stevhliu
docs/ @stevhliu
/benchmark/ @McPatate
/src/transformers/models/*/*processing* @molbap @yonigozlan @qubvel
/src/transformers/models/*/image_processing* @qubvel
/src/transformers/models/*/image_processing_*_fast* @yonigozlan
# /src/transformers/models/*/*_modeling* depending on the type of the model, @qubvel @NielsRogge @Cyrilvallez @zucchini-nlp @molbap 
/src/transformers/models/*/*_modeling* @Rocketknight1 # for appropriate dispatch !a
/src/transformers/**/*_tokenization* @ArthurZucker
/src/tranformers/generation/ @gante
trainer.py @muellerzr
/src/transformers/pipeline @Rocketknight1 @yonigozlan
/src/transformers/integrations @SunMarc @MekkCyber @muellerzr
/src/transformers/quantizers @SunMarc @MekkCyber
/src/transforemrs/tests @ydshieh
/src/transformers/models/auto @ArthurZucker
/src/transformers/utils @ArthurZucker @Rocketknight1
/dockers @ydshieh @ArthurZucker
/src/transformers/loss @ArthurZucker
/src/transformers/onnx @michaelbenayoun
/.circleci/config.yml @ArthurZucker @ydshieh
/utils/tests_fetcher.py @ydshieh
